html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin:0;
    position: relative;
    overflow: hidden;
    background: url("../img/Sky.jpg");
}

.layer-welcome{
    transition: 0.5s ease-in-out;
    position:absolute;
    z-index: 110;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color: hsla(0,0%,0%,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layer-welcome .wrapper{
    font-family: 'Montserrat', sans-serif;
    color: hsl(255,0%,80%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layer-welcome h1{
    font-size: 6rem;
    margin: 0;
}

.layer-welcome h2{
    font-size: 2rem;
}

.layer-welcome button{
    background-color: hsl(159, 97.8%, 34.9%);
    border: none;
    color: white;
    padding: 7px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.layer-welcome button:active{
    background-color: hsl(101, 231%, 50%);
}

.layer-light-1{
    position:absolute;
    z-index: 100;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background: radial-gradient(closest-side at 60% 60%, rgba(255,255,255,.2),rgba(255,255,255,0));
    pointer-events: none;
}

.layer-light-2{
    position:absolute;
    z-index: 90;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background: linear-gradient(0deg, rgba(255,255,255,0),rgba(255,255,255,0.2));
    pointer-events: none;
}

.layer-viewport{
    transform-origin: 0 0;
    perspective: 2000px;
    position:absolute;
    left:0%;
    top:0%;
    bottom:0%;
    right:0%;
}

.layer-table{
    z-index: 40;
    position:absolute;
    left:-100%;
    top:-150%;
    bottom:-100%;
    right:-100%;
    
    transform: rotate3d(0.830902289680661, -0.55512663596757, -0.0378919918025406, 0.226247049766773rad) matrix3d(0.983918092756715, 0.143207948359993, 0.106755188503933, 0, -0.17645490934252, 0.686510109351638, 0.705384671457301, 0, 0.027728175470298, -0.712878217709395, 0.700739462996459, 0, 0, 0, 0, 1);
 
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.table-skin{
    z-index: 45;
    position:absolute;
    left:0%;
    top:0%;
    bottom:0%;
    right:0%;
    background: url("../img/wood1.jpg");
}

.table-skin.blur{
    -webkit-filter: blur(3px);
	filter: blur(3px);
}

.layer-card{
    position:absolute;
    z-index: 50;
    left:0%;
    top:0%;
    bottom:0%;
    right:0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    transition: 0.5s ease-in-out;
    transform: rotate3d(0.830902289680661, -0.55512663596757, -0.0378919918025406, 0.226247049766773rad) matrix3d(0.983918092756715, 0.143207948359993, 0.106755188503933, 0, -0.17645490934252, 0.686510109351638, 0.705384671457301, 0, 0.027728175470298, -0.712878217709395, 0.700739462996459, 0, 0, 0, 0, 1) scale(0.7);

}

.layer-card.in-front{
    transition: 0.5s ease-in-out;
    transform: rotate3d(1, 0, 0, 0deg);
}

.card{
    display: inline-block;
    margin: 0;
    padding: 0;
    width:768px;
    height:480px;
    border-radius: 8px;
    cursor:pointer;
}

.card.on{
    transition: 0.5s ease-in-out;
    background-color: hsla(233, 24%, 87%, 0.8);
    border-right: 2px solid hsl(255,90%,100%);
    border-bottom: 4px solid hsl(255,90%,100%);
    box-shadow: 0px 4px 16px rgba(255,255,255,.8);
}

.card.off{
    transition: 0.1s ease-in-out;
    border-right: 2px solid hsl(255,0%,10%);
    border-bottom: 4px solid hsl(255,0%,10%);
    background-color: hsla(255,0%,0%,0.3);
    box-shadow: 2px 2px 4px hsla(255,0%,0%,.4);
}

.layer-card.in-front .card{
    transition: 0.5s ease-in-out;
    background-color: hsla(233, 24%, 87%, 0.9);
    border-left: 1px solid hsl(255,90%,100%);
    border-top: 1px solid hsl(255,90%,100%);
    border-right: 1px solid hsl(255,90%,100%);
    border-bottom: 1px solid hsl(255,90%,100%);
    box-shadow: 2px 2px 16px hsla(255,0%,100%,.4);
}