.content{
    font-family: 'Montserrat', sans-serif;
    color: hsl(16, 22%, 32%);
}

.content h1{
    text-transform: uppercase;
    font-size: 1.5rem;
    margin:0;
    padding:0;
    color: hsl(240, 18%, 9%);
}

.content h2{
    text-transform: uppercase;
    font-size: 0.8rem;
    margin:0;
    padding:0;
    color: hsl(26, 11%, 55%);
}

.content .border-radius-top-left-right{
     border-top-left-radius: 8px;
     border-top-right-radius: 8px;
}

.content .border-radius-bottom-left-right{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.content .header{
    padding: 20px;
}

.content .body{
    padding: 20px;
}

.off.content .header{
    transition: 0.5s ease-in-out;
    background-color: hsla(159, 97.8%, 34.9%, 0.2);
}

.on.content .header{
    transition: 0.5s ease-in-out;
    background-color: hsla(159, 97.8%, 34.9%, 0.9);
}

.off.content .header{
    transition: 0.5s ease-in-out;
    background-color: hsla(159, 97.8%, 34.9%, 0.2);
}

.content .me{
    position: relative;
}

.content .me::after {
    content: "";
    background:url('../img/ich.png');
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.on.content .me::after {
    transition: 0.5s ease-in-out;
    opacity: 0.9;
}

.off.content .me::after {
    transition: 0.5s ease-in-out;
    opacity: 0.2;
}


